* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #F03053, rgb(251, 51, 87));
    font-family: 'Dosis', sans-serif;
    text-transform: capitalize;
    flex-direction: column;
}
header{
    width: 100% ;
    background-color: #131417;
    height: 70px;
    color: white;
    justify-content: center;
    flex-direction: column;

}
main,
main>div,
main>div>div,div,header,
.check {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

main>div {
    /* width: 100%; */
    background: white;
    border-radius: 15px;
    height: 80% ;
    transform: translateY(5%);
    flex-direction: column;
    overflow: hidden;
}
main>div>div{
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
}
main>div>div>div{
    width: 90%;}



main>div>div>div>input {
    height: 40px;
    width: 100%;
    border: 1px solid white;
    outline: none;
    padding: 2%;
    font-size: 18px;
    color: rgb(26, 26, 26);
}



button {
    margin: 0 10px;
    padding: 5%;
    width: 80px;
    background-color: #a7243c;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

main ul,
main ul li div {
    display: flex;
}

ul {
    width: 80%;
    margin-top: 3%;
    flex-direction: column;
    height: 60%;
    /* overflow-y: scroll; */
}

main ul li {
    list-style: none;
    width: 100%;
    position: relative;
}

main ul li div {
    align-items: center;
    color: rgb(31, 31, 31);
    
    padding:0 15px;
    justify-content: space-between;
}

main>ul>li>div>div h2 {
    margin-left: 30px;
}

.del {
    opacity: 0;
    cursor: pointer;
    position: absolute;

}

.check {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    left: 0;
    background-color: #f030533f;


}

main>div>ul>li>div>div>label>input:checked~.check {
    background-color: #F03053;
}

.check>i {
    /* position: absolute; */
    font-size: 20px;
    display: none;
    color: white;
}

main>div>ul>li>div>div>label>input:checked~.check>i {
    display: block;
}

.line {
    text-decoration: line-through;
}


.line {
    text-decoration: line-through;
}

.divide {
    width: 90%;
    height: 2px;
    margin-top: 5px;
    border-radius: 1px;
    background-color: gray;
}

.content>span {
    margin-right: 10px;
}
.btn{
    cursor: pointer;
    font-size: 20px;

}

@media screen and (max-width:768px) {
    main>div {
        width: 80%;
    }
}

@media screen and (min-width:769px) {
    main>div {
        width: 65%;
    }
}

@media screen and (min-width:992px) {
    main>div {
        width: 50%;
    }
}